<div class="main">

        <section class="sign-in">
            <div class="container">
                    <h3 class="w3l-title"><span>Vos</span>Virements

                
                    <input type="submit" name="add" id="add" class="btn btn-primary pull-right" (click)="AddVirement()" value="Nouveau virement"/>
                </h3>
             
                <table class="table table-striped">
                  <tr>
                    <td>N°</td>
                    <td>To RIB</td>
                    <td>Date</td>
                    <td>Etat</td>
                    <td>Montant</td>
                  <tr>
                  <tr *ngFor="let record of virements ; let i = index">
                     <td>Virement {{i}}</td>
                     <td>{{record.to_RIB}}</td>
                     <td>{{record.date_virement}}</td>
                     <td>{{record.etat_virement}}</td>
                     <td>{{record.montant}}DH</td>
                  <tr>
                </table>
              
            </div>
        </section>
</div>
