<div id="page">
    <div class="header1"><div>
        <h1><img src="../assets/images/logo.png" alt="" title="" />E-Banking</h1>
    </div>
     
            
     
        <div style="clear:both;"></div>
    </div>
    <a id="homepage-link" href="http://localhost:4200/home">
        <span class="info-404">
            Désolé, la page que vous essayez d&#39;atteindre n&#39;a pu être trouvée :(
            <span><div id="home"></div></span>
        </span>
    </a>

    <div id="magnet-404-hot"></div>
    <div id="magnet-404-country"></div>

</div>