<br/>
<br/>
<br/>
<div class="row">

        <div class="col-md-3 " >
                <br/>
                <br/>
               
    <div class="card border-primary mb-3" >
        <div class="card-header">Your informations</div>
        <div class="card-body text-dark">
          <h5 class="card-title"><strong>{{logginuser.nom}} {{logginuser.prenom}}</strong></h5>
          
          <p ><span class="glyphicon glyphicon-envelope"></span>     {{logginuser.email}}</p>
          <p ><span class="glyphicon glyphicon-user"></span>         {{logginuser.cin}}</p>
          <p ><span class="glyphicon glyphicon-home"></span>         {{logginuser.pays}}</p>
          <p ><span class="glyphicon glyphicon-home"></span>         {{logginuser.ville}}</p>
        </div>
      </div>
    </div>
   
    <div class="col-md-6 offset-md-2 main">
            <div class="jumbotron">
            <div class="form-group row">
                    <label  class="col-4 col-form-label">choisir un Rib </label>
                    <div class="col-8">
  
            <select id="infos" [(ngModel)] = "virement.ribfrom" class="custom-select mb-2 mr-sm-2 mb-sm-0">

                <option *ngFor="let method of  infos" [value]="method.rib">{{method.rib}}</option>
            </select></div>
          
            </div>
            <div class="form-group row">
                    <label  class="col-4 col-form-label">Entrer Rip de Personne à virer</label>
                    <div class="col-8">
                      <input class="form-control" type="text"  placeholder="rib to" [(ngModel)] = "virement.telto">
                    </div>
                  </div>
        
                  <div class="form-group row">
                        <label class="col-4 col-form-label">Enter Montant</label>
                        <div class="col-8">
                          <input class="form-control" type="text"  placeholder="montant" [(ngModel)] = "virement.montant">
                        </div>
                      </div>
                      <div class="form-group row">
                          <div class="offset-md-6">
                            <button (click)="addVirement()" class="btn btn-primary">recharge</button>
                        </div>
                        </div>
                        <div *ngIf="show">Virement a bien effectué </div>
                        <div *ngIf="temp">Il y une erreur</div>
        </div>
    </div>

    
<!--
    <section class="sign-in">
       
        <div class="signin-form">
 
            
            <div class="form-group">
                  
                </div>
                <div class="form-group">
                    <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                    <input type="text"  placeholder="rib to" [(ngModel)] = "virement.telto"/>
                </div>
                <div class="form-group">
                    <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                    <input type="text"  placeholder="montant" [(ngModel)] = "virement.montant"/>
                </div>
              
                <div class="form-group form-button">
                    <button (click)="addVirement()">recharge</button>
                </div>
                <div *ngIf="show">Virement a bien effectué </div>
                <div *ngIf="temp">Il y une erreur</div>
            <div class="social-login">
                <span class="social-label">{{recharge |json}}</span>
            </div>
        </div>
    </section>
</div>
-->


</div>
<!--<div class="main">

        <section class="sign-in">
            <div class="container">
              <p>
                create-virement works!
              </p>

            </div>
            <div class="signin-form">
                <h2 class="form-title">Créer un virement</h2>
                <form class="register-form" id="login-form" (submit)="addVirement($event)">
                    <div class="form-group">
                        <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="ribfrom" id="ribfrom" placeholder="Your Rib" [(ngModel)] = "virement.ribfrom"/>
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="text" name="ribfrom" id="ribfrom" placeholder="rib to" [(ngModel)] = "virement.ribto"/>
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="number" name="montant" id="montant" placeholder="montant" [(ngModel)] = "virement.montant"/>
                    </div>
                    <div *ngIf="show">Informations incorrectes</div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" (click)="loginUser(virement)" value="Log in"/>
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">{{message}}</span>
                </div>
            </div>
        </section>
</div>
-->