
<h1>E-Banking Client</h1>

<nav class="nav">
	<ul>
		<li><a [routerLink] = "['/login']" routerLinkActive="active">Connexion</a>
    <li><a [routerLink] = "['/home']" routerLinkActive="active">Home</a>
		<li><a [routerLink] = "['/virements']" routerLinkActive="active">Virements</a>
		<li><a [routerLink] = "['/recharges']" routerLinkActive="active">Recharges Téléphoniques</a>
	</ul>
</nav>
<router-outlet></router-outlet>
<div class="main2">
		<div class="content">
			<div class="footer-grids">
      </div>
		</div>
</div>
